body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Lato', sans-serif; 
    font-weight: normal;
}

h1{
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
   

}

h1 strong{
    color: #ef233c;
}

h2 {
    color: #d90429;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 40px;
}
.experience-container{
    background: #edf2f4;
    padding: 20px;
}

.experience-job-company, .experience-date{
    margin: 10px 0;
}
.experience-description{
    font-size: 20px;
}

.experience strong{
    font-family: 'Lato', sans-serif; 
}
.experience{
    /* border: tamaño tipo estilo*/
    border: 1px solid grey;
    border-radius: 10px;
   
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.experience-job-name{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}
.experience-details{
    width: 500px;
    height: inherit;
    display: inline-block;
}
.experience-imageContainer{
    display: inline-block;
}

.hero{
    height: 300px;
    background-image: url('../img/hero3.jpg');
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-color: #2b2d42;
    background-position-x: right;
    display: flex;
    align-items: center;
}

.header{
    background-color: #2b2d42;
    color: white;
    margin-top: 0;
    display: flex;
    /* Espacio entre elementos del componente*/
    justify-content: space-between;

    height: 70px;
    align-items: center;
}

.header a{
    color: white;
    text-decoration: none;
}

.header ul{
    display: flex;
    height: inherit;
    
}
.header ul li{
    height: inherit;
    
}
.header a {
    display: block;
    height: inherit;
    display:flex;
    align-items: center;
    padding: 0 10px;
}
.menu{
    height: inherit;
}
ol, ul{
    /* Sacamos margenes */
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0;
}

.footer{
    background-color: #1b2127;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.footer img{
    vertical-align: middle;
}
.footer a{
    color: white;
}

.habilities-container{
    margin: 0 20px 20px 20px;
    padding: 0 10px;
    background-color: #f7fcff;
}

.hability-percentage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.hability-angular{
    width: 60%;
    background-color: #B52E31; 
}
.hability-spring{
    width: 80%;
    background-color: #BCE7C1;
}
.hability-java{
    width: 90%;
    background-color: #EED4D4;
}
.hability-web{
    width: 80%;
    background-color: #EFCC90;
}

.hability-python{
    width: 40%;
    background-color: #A3B2C9;
}
.hability-linux{
    width: 70%;
    background-color: #A5A5A5;    
}
.hability-percentage{
    width: 100%;
    background-color: #ddd;
}
.hability-imageContainer{
    height: 50px;
}

.contact{
    background-color: #2b2d42;
    color:white;
    height: 150px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}


.social-link{
    display: inline-block;
    height: 50px;
    width: 50px;
    background-size: 50px 50px;
}
.social-link.github{
    background-image: url('../img/github.png');
}
.social-link.stackoverflow{
    background-image: url('../img/stackoverflow.png');
 
}
.social-link.linkedin{
    background-image: url('../img/linkedin.png');
 
}
.form-email{
    border-color: grey;
    padding: 10px 30px 10px 35px;
    width: 220px;
    background-image: url('../img/envelope.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    border-radius: 5px;
    border-style: solid;
}
.contact h3{
    font-family: 'Lato', sans-serif; 
    text-transform: uppercase;
}
.form-button{
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100px;
  
}
/*
Esto sirve para colocar elementos uno al lado del otro. 
Flexbox tendrá a muchos box dentro, y de esta forma ocuparán el espacio horizontalmente, hasta que no
quepan, y ahí seguirán abajo.- 
*/
.flexbox {
    display: flex;
    flex-wrap: wrap;
    /* Para centrar elementos horizontalmente
    justify-content: center;
    */
    /* Central elementos verticalmente. Requiere un height*/
    height: 200px;
    align-items: center;

    /* Cajas se ponganm una al lado de la otra, o una abajo de la otra*/
    /* flex-direction: column; */ 

}

.box {
    width: 50px;
    height: 50px;
    border: 1px solid red;
    flex-shrink: 0; /* Con esto no se achican las cajas si no caben en el width */ 

    /* Si tenemos tres cajas, y queremos alinear la primera arriba la segunda al medio y la tercera abajo*/
    /* align-self: flex-start;   */
}
